# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/
bin/
cmd/browser/node_modules/
cmd/browser/dist/bundle.js
cmd/browser/dist/json/*
cmd/dashboard/node_modules/
cmd/dashboard/dist/bundle.js

# Config private
config/api/firebase.json
config/api/prod.json
config/web/local.json
config/web/prod.json

# VSCode
.vscode/
